@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("/static/img/dusk.jpg");
    font-family: 'poppins', sans-serif;
    line-height: 1.5;
}

.hidden {
    display: none;
}