    <!--creates a navigation bar-->
    <nav class="foo navbar navbar-expand-lg navbar-dark py-3 fixed-top">
        <!--creates space for 'DUSK'-->
        <div class="container">
            <a href="/" class="navbar-brand text-dark"><b>DUSK</b></a>

            <!--this will create a menu icon that will toggle-->
            <button class="navbar-toggler bg-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <!--adds the toggle icon-->
                <span class="navbar-toggler-icon"></span>
            </button>

            <!--enables the list item collapse according to the size of the expand, in this case 'expand-lg' expand is set to large-->
            <div class="collapse navbar-collapse" id="navmenu">
                <!--list of items in the navigation bar-->
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="#Pomodoro" class="nav-link text-dark">Pomodoro</a>
                    </li>
                    <li class="nav-item">
                        <a href="#Features" class="nav-link text-dark">Features</a>
                    </li>
                    <li class="nav-item">
                        <a href="/login" class="nav-link text-dark">login</a>
                    </li>
                </ul>
                    <a href="/signup"><button type="button" class="btn btn-outline-dark mx-sm-3">Try for Free</button></a>
            </div>
        </div> 
    </nav>