#first {
    padding-top: 3cm;
    text-align: center;
    background-color: orangered;
    padding-bottom: 1cm;
}

.foo {
    background-color: orangered;
}

p {
    line-height: 28px;
}

input {
    text-align: center;
  }
  
  ::-webkit-input-placeholder {
    text-align: center;
  }
  
  :-moz-placeholder {
    text-align: center;
  }

/* app.html */
ul {
    list-style-type: none;

}

.qwerty {
    max-width: 450px;
    margin: 0 auto;
    padding: 0 30px;
}

.logo {
    font-weight: bold;
    font-size: 30px;
}


.navbar .qwerty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar ul {
    display: flex;
    font-weight: bold;
    margin-left: 3px  ;
}


.navbar .uirou {
    margin-right: 3px;
}

.navbar button {
    font-size: 15px;
}

.header {
    min-height: 300px;
}

.header .qwerty {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 300px;
    margin-bottom: 40px;
    padding: 25px 0px;
    border: 3px solid black;
    border-radius: 10px;
}

.header button {
    margin-left: 20px;
}

.header .timer {
    font-size: 100px;
}

.header .under {
    margin-left: 20px;
}

.boxes .qwerty {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    font-weight: x-large;
    width: 600px;
    margin: 5px auto;
}

.yktv .qwerty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 2px solid black;
    padding: 15px 15px;
}



.fdkop {
    display: flex;
    justify-content: space-between;  
    margin-bottom: 20px; 
    padding: 0px 0;
}

.klasdoe {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 10px 0;
}

.kfdfrd {
    margin-bottom: 20px;
}

.alarm {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    margin: 15px 0;
}

.tick {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    margin: 15px 0;
}

.format {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    margin: 15px 0; 
}

.profile .fa-solid {
    margin-right: 15px;
}

.profile button {
    margin: 10px 0;
}

.jdjoa {
    width: 120px;
    height: 45px;
}






@media(max-width: 480px) {
    .qwerty {
        max-width: px;
    }
}
