#first {
    padding-top: 3cm;
    text-align: center;
    background-color: #86B049;
    padding-bottom: 1cm;
}

:root {
    --pomodoro: url("/static/dusk.jpg");
    --shortBreak: hsl(48, 23%, 40%);
    --longBreak: hsl(105, 16%, 40%);
}

body {
    background-image: var(--pomodoro);
    transition: background-color 1s ease;
    user-select: none;
}

.hidden {
    display: none;
}

.foo {
    background-color: #86B049;
}

.foo a {
    text-decoration: none;
}

.iefanchui {
    margin-bottom: 100px;
}

p {
    line-height: 28px;
}



/* app.html */
ul {
    list-style-type: none;

}

.qwerty {
    max-width: 500px;
    margin: 0 auto;
    padding: 0 30px;
}

.logo {
    font-weight: bold;
    font-size: 30px;
}


.navbar .qwerty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar ul {
    display: flex;
    font-weight: bold;
    margin-left: 3px  ;
}


.navbar .uirou {
    margin-right: 3px;
}

.navbar button {
    font-size: 15px;
}

.header {
    min-height: 300px;
    overflow: hidden;
}

.header .qwerty {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 300px;
    margin-bottom: 40px;
    padding: 25px 0px;
    border: 3px solid black;
    border-radius: 10px;
}

.header button {
    margin-left: 20px;
}


#js-clock {
    font-size: 50px;
}


.header .under {
    margin-left: 20px;
}

.boxes .qwerty {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

#demo {
    height: 100%;
}

hr {
    font-weight: x-large;
    width: 600px;
    margin: 5px auto;
}

.yktv .qwerty {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: 2px solid black;
    padding: 15px 15px;
}



.fdkop {
    display: flex;
    justify-content: space-between;  
    margin-bottom: 20px; 
    padding: 0px 0;
}

.fdkop input {
    text-align: center;
  }
  
  ::-webkit-input-placeholder {
    text-align: center;
  }
  
  :-moz-placeholder {
    text-align: center;
  }

.jdjoa {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 20px 10px;
}

.jdjoa input {
    text-align: center;
    width: 120px;
    border-radius: 5px;
    height: 40px;
  }
  
  ::-webkit-input-placeholder {
    text-align: center;
  }
  
  :-moz-placeholder {
    text-align: center;
  }

.klasdoe {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 10px 0;
}

.kfdfrd {
    margin-bottom: 20px;
}

.alarm {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    margin: 15px 0;
}

.tick {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    margin: 15px 0;
}

.format {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    margin: 15px 0; 
}

.profile .fa-solid {
    margin-right: 15px;
}

.profile button {
    margin: 10px 0;
}






@media(max-width: 480px) {
    .qwerty {
        max-width: px;
    }
}
