{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<body>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            background-image: url("/static/dusk.jpg");
            font-family: 'poppins', sans-serif;
            line-height: 1.5;
        }
    </style>
    <nav class="navbar">
        <div class="container qwerty">
            <div class="logo">DUSK</div>
            <ul class="nav">
                <li><button type="button" class="btn btn-outline-dark mx-1"><i class="uirou fa-solid fa-chart-bar"></i>Report</button></li>
                <li><button type="button" data-bs-toggle="modal" data-bs-target="#settings" class="btn btn-outline-dark mx-2"><i class="uirou fa-solid fa-gear"></i>Settings</button></li>
                <li><button type="button" data-bs-toggle="modal" data-bs-target="#profile" class="btn btn-outline-dark"><i class="uirou fa-solid fa-user"></i></button></li>
            </ul>
        </div>
    </nav>

    <main class="header">
        <div class="container qwerty">
            <div>
                <button type="button" class="btn btn-outline-dark">Timer</button>
                <button type="button" class="btn btn-outline-dark">Short Break</button>
                <button type="button" class="btn btn-outline-dark">Long Break</button>
                <div id="time" class="timer text-center"></div>
            </div>
        </div>
    </main>

    <section class="boxes">
        <div class="container qwerty">
            <div>
                <h2>Tasks</h2>
            </div>
            <button type="button" class="btn btn-outline-dark"><i class="fa-solid fa-ellipsis-vertical"></i></button>
        </div>
    </section>
    <hr>

    <section class="yktv">
        <div class="container qwerty">
            <i class="fa-solid fa-circle-plus"></i>
            <div class="box">Add Task</div>
        </div>
    </section>




        <!-- Modal -->
<div class="modal fade" id="settings" tabindex="-1" aria-labelledby="enrollLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="enrollLabel">Settings</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p class="lead">
            Set Your Pomodoro Timer as it suits you! We recommend that you start small.</p>
            <hr>
            <div class="klasdoe">
                <p>Long Break Interval</p>
                <button type="button" class="btn btn-secondary">Long Break</button>
            </div>
            <hr>
            <div class="kfdfrd">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">Auto Start Pomodoro</label>
                </div>
            </div>
            <div>
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">Auto Start Break</label>
                </div>
            </div>
            <hr>
            <div class="alarm">
                <div><p>Alarm</p></div>
                <div>
                    <label for="customRange2" class="form-label">Volume</label>
                    <input type="range" class="form-range" min="0" max="5" id="customRange2">
                </div>
                <div>
                    <select name="alarmoptions" id="">
                        <option value="" disabled selected>Alarm Sound</option>
                        <option value="">Bell</option>
                        <option value="">Bird</option>
                        <option value="">Digital</option>
                        <option value="">kitchen</option>
                        <option value="">Wood</option>
                    </select>
                </div>
            </div>
            <hr>
            <div class="tick">
                <div><p>Ticking</p></div>
                <div>
                    <label for="customRange2" class="form-label">Volume</label>
                    <input type="range" class="form-range" min="0" max="5" id="customRange2">
                </div>
                <div>
                    <select name="tick" id="">
                        <option value="" disabled selected>Ticking Sound</option>
                        <option value="">None</option>
                        <option value="">Tick Slow</option>
                        <option value="">Tick Fast</option>
                    </select>
                </div>
            </div>
            <hr>
            <div class="format">
                <div><p>Hour Format</p></div>
                <div>
                    <select name="format" id="">
                        <option value="" disabled selected>Hour Format</option>
                        <option value="">12-hour</option>
                        <option value="">24-hour</option>
                    </select>
                </div>
            </div>
            <hr>
            <div>
                <div class="kfdfrd">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked>
                        <label class="form-check-label" for="flexSwitchCheckChecked">Dark Mode</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="settingsbutton">Submit</button>
        </div>
      </div>
    </div>
</div>


<!--Modal for profile-->
<div class="modal fade" id="profile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body profile">
            <div><button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#profileastronaut"><i class="fa-solid fa-user-astronaut"></i>Profile</button></div>
            <div><button type="button" class="btn btn-secondary"><i class="fa-solid fa-right-from-bracket"></i>Logout</button></div>
        </div>
      </div>
    </div>
  </div>
<!--Modal for astronaut profile-->
<div class="modal fade" id="profileastronaut" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body profile">
            <div><button type="button" id="profileastronaut" class="btn btn-secondary"><i class="fa-solid fa-user-astronaut"></i>Profile</button></div>
            <div><button type="button" class="btn btn-secondary"><i class="fa-solid fa-right-from-bracket"></i>Logout</button></div>
        </div>
      </div>
    </div>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='Timer.js')}}"></script>
{% endblock %}