{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
<body>
    {% include 'includes/_navbar.html' %}
    <!--showcase-->
    <section id="first" class="text-sm-start">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div>
                    <h1>An online Pomodoro Timer to boost your productivity</h1>
                    <p class="lead my-4">DUSK is a customizable pomodoro timer that works on desktop & mobile browser. The aim of this app is to help you focus on any task you are working on, such as study, writing, or coding.</p>
                    <a href="/signup"><button class="btn btn-dark btn-lg">Get Started</button></a>
                </div>
                <img class="img-fluid w-50 d-none d-sm-block" src="/static/svg/devfocus1.svg" alt="focus">
            </div>
        </div>
    </section>

    <!--Control distractions-->
    <section class="p-5">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md text-center">
                    <img class="img-fluid" src="/static/svg/mindfulness.svg" alt="">
                </div>
                <div class="col-md mt-3">
                    <h3><b>Control distractions. Focus on what matters.</b></h3>
                    <p class="lead">Social media, shopping, videos, games...these apps and websites ares scientifically engineered to keep you hooked and coming back. The cost to your productivity, ability to focus, and general well-being can be staggering. Freedom gives you Control.</p>
                    <p class="lead">Start your free trial today!</p>
                </div>
            </div>
        </div>
    </section>

    <!--Pomodoro-->    
    <section class="foo text-dark p-5 pt-5 text-center" id="Pomodoro">
        <div class="container">
            <h4><b>Pomodoro</b></h4>
            <p class="lead">The Pomodoro Technique is created by Francesco Cirillo for a more productive way to work and study. The technique uses a timer to break down work into intervals, traditionally 25 minutes in length, separated by short breaks. Each interval is known as a pomodoro, from the Italian word for 'tomato', after the tomato-shaped kitchen timer that Cirillo used as a university student.</p>
            <a href="https://en.wikipedia.org/wiki/Pomodoro_Technique" class="btn btn-dark mt-3" target="_blank">Read More</a>
        </div>
    </section>

    <!--Features-->
    <section id="Features" class="p-5">
        <div class="container">
           <div class="row align-items-center justify-content-between">
               <div class="col-md">
                   <h5 class="text-center"><b>Features</b></h5>
                    <ul class="lead">
                        <li>Responsive design that works with desktop and mobile</li>
                        <li>Color transition to switch moods between work time and rest time</li>
                        <li>Audio notification at the end of a timer period</li>
                        <li>Customizable timer intervals to suit your preference</li>
                    </ul>
               </div>
               <div class="col-md text-center">
                    <img class="img-fluid" src="/static/svg/product.svg" alt="">
               </div>
           </div>
        </div>
    </section>
    
    <!--How it works-->
    <section class="foo p-5" id="works">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md">
                    <img src="/static/svg/design2.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md mx-3 mt-3">
                    <h6><b>How it Works</b></h6>
                    <ol class="lead">
                        <li>Add the tasks for the day</li>
                        <li>Select the task you want to work on at the moment</li>
                        <li>Set the timer, short breaks and long break</li>
                        <li>Set the act(repeat) of the timer before the long</li>
                        <li>Click next till the task is complete</li>
                        <li>Tick the task as completed</li>
                        <li>Repeat for another task</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!--footer-->
    <footer class="p-5 text-center position-relative">
        <p class="lead">
            Copyright &copy; 2022 DUSK
        </p>
        <a href="#" class="position-absolute bottom-0 end-0 p-5">
            <i class="bi bi-arrow-up-circle h1"></i>
        </a>
    </footer>
</body>
{% endblock %}