{% extends "layout.html" %}

{% block title %}
    Log In

{% endblock %}

{% block main %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<div class="login-box">
    <h1>Login</h1>
    <form action="" method="POST">
        <div class="user-box">
            <div class="form-group">
                <input type="text" name="username" class="form-control" placeholder="Username" value={{request.form.username}}>
            </div>
        </div>
        <div class="user-box">       
            <div class="form-group">
                <input type="password" name="password" class="form-control" placeholder="Password" value={{request.form.password}}>
            </div>
        </div>
        <button type="submit" class="btn btn-dark mt-3">Submit</button>
    </form>
</div>
{% endblock %}